.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  /* height: 135px; */
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);

  .header-center {
    display: flex;
    align-items: center;
    height: 80px;

    .right {
      margin-left: auto;

      svg {
        font-size: 24px;
      }

      .icon {
        text-align: center;

        &:not(:first-child) {
          margin-left: 15px;
        }

        a {
          position: relative;
        }
      }

      .user {
        position: relative;
        cursor: pointer;

        &:hover .popup {
          display: block;
        }
      }

      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .popup {
        position: absolute;
        z-index: 100;
        text-align: left;
        top: 100%;
        right: 0;
        width: 200px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
        color: black;
        background-color: white;
        display: none;

        .admin-nav {
          font-weight: 500;
          text-transform: uppercase;
        }

        .item {
          border-bottom: 1px solid #eee;
        }

        .link {
          display: block;
          padding: 8px;

          &:hover {
            background-color: #fafafa;
          }
        }

      }
    }
  }

  .title {
    font-weight: 700;
    color: var(--orange-color);
    font-size: 36px;
  }

  .search-mobile {
    display: none;
  }
}

.count {
  position: absolute;
  top: -15px;
  right: 10px;
  background: orange;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 15px;
}

@media (max-width: 576px) {
  .header {
    padding: 4px 0;

    .header-center {
      height: 60px;

      .right {
        margin-left: 0;
      }

      .icon {
        svg {
          font-size: 32px;
        }

        p {
          display: none;
        }

        .count {
          top: -18px;
          right: -5px;
          width: 18px;
          height: 18px;
          font-size: 15px;
        }
      }

      .search {
        display: none;
      }
    }

    .title {
      font-size: 30px;
      margin-right: 10px !important;
    }

    .search-mobile {
      display: block;
    }
  }
}
