.admin-sidebar-container {
  position: fixed;
  bottom: 0;
  float: none;
  left: 0;
  top: 0;
  background-color: #343a40;
  height: 100vh;
  z-index: 1038;
  width: 260px;
  transition: all ease 0.4s;

  a {
    color: rgba(255, 255, 255, 0.8);
  }

  .logo {
    border-bottom: 1px solid #4b545c;

    img {
      width: 50px;
      opacity: 8;
      background-color: #539E31;
      border-radius: 50%;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 1.5;
      padding: 10px;
      color: rgba(255, 255, 255, 0.8);

      span {
        margin-left: 15px;
      }
    }
  }

  .sidebar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
  }

  .nav-list,
  .bottom {
    flex-direction: column;
    padding: 0;
    padding-left: 10px;
  }

  .bottom {
    margin-top: auto;
  }

  .nav-item {
    position: relative;

    .sidebar-dropdown {
      display: block;
      padding-left: 15px;
      &:not(.show):not(.collapsing) {
        display: none;
      }
    }

    span {
      margin-left: 10px;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    cursor: pointer;
    padding-left: 20px;

    position: relative;
    transition: all 0.35s;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.125); */
    &:hover {
      background-color: rgba(105, 112, 129, 0.4);
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      font-weight: 500;
    }
    &.active {
      background-color: #586685;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      font-weight: 500;
    }
  }

  .nav-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
  }

  .nav-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
  }
}
